h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    max-width: 400px;
    min-width: 200px;
}

label {
    font-weight: bold;
    display: block;
}

.form-control {
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}


.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.register-button {
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
}

.alert-success {
    color: #28a745;
}

.alert-danger {
    color: #dc3545;
}

/* Additional styles for validation messages */
.alert {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}