.default__button {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;

    background-color: rgba(3, 3, 3, 1);
    border: 2px solid rgba(193, 155, 3, 1);
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.default__button:hover {
    background-color: rgba(193, 155, 3, 1);
    color: #fff;
}